
/*button*/
.button {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-border-color: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-text-fill: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-background-color: transparent;
    -fx-font-family: "Ace Records";
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-font-size: 18;
}
.button :pressed {
    -fx-scale-z: 2;
    -fx-translate-y: 2;
}
.button :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
}

/*special button*/
.button-big{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-border-color: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-text-fill: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-background-color: transparent;
    -fx-font-family: "Ace Records";
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-font-size: 18;
}
.button-big :pressed {
    -fx-translate-y: 2;
    -fx-scale-z: 2;
}
.button-big :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
}

.button-little{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-border-color: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-text-fill: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-background-color: transparent;
    -fx-font-family: "Ace Records";
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
    -fx-font-size: 12;
}
.button-little :pressed{
    -fx-translate-y: 2;
    -fx-scale-z: 2;
}
.button-little :hover{
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
}

/*special button*/
#container {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-background-color: linear-gradient(to right, #0d1c46, #591f74);
    -fx-border-color: linear-gradient(to right, #0d1c46, #591f74);
    -fx-background-radius: 15;
    -fx-padding: 30 30 30 30;
    -fx-border-radius: 15px;
    -fx-border-width: 2;
}
#container :pressed {
    -fx-scale-z: 2;
}
#container :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
}

/*label*/
.label {
    -fx-text-fill: linear-gradient(to left, dodgerblue, blueviolet);
    -fx-font-family: "Ace Records";
}
.label :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
    -fx-translate-y: 3;
}

/*spinner*/
.spinner {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: white;
    -fx-opacity: 0.5;
}
.spinner .increment-arrow-button {
    -fx-background-color: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-background-radius: 0 30 30 0;
}
.spinner .increment-arrow-button .increment-arrow{
    -fx-background-color: navy;
}
.spinner .increment-arrow-button:pressed .increment-arrow {
    -fx-rotate: -25deg;
}
.spinner .decrement-arrow-button {
    -fx-background-color: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-background-radius: 30 0 0 30;
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: navy;
}
.spinner .decrement-arrow-button:pressed .decrement-arrow {
    -fx-rotate: 25deg;
}
.spinner .text-field{
    -fx-text-fill: linear-gradient(to right, dodgerblue, blueviolet);
    -fx-background-radius: 30 30 30 30;
    -fx-font-family: "Ace Records";
    -fx-background-color: white;
    -fx-alignment : center;
    -fx-font-size: 15;
    -fx-opacity: 0.5;
}

/*onPane*/
.labelOnPane{
    -fx-font-family: "Ace Records";
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 18;
}
.buttonOnPane{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-background-color: transparent;
    -fx-font-family: "cooper black";
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 15px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-font-size: 10;
}
.buttonOnPane :pressed {
    -fx-translate-y: 2;
    -fx-scale-z: 2;
}
.buttonOnPane :hover {
    -fx-effect: dropshadow(gaussian, navy, 2, 0.2, 2, 2);
}

.rectangle{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-background-color: black;
    -fx-stroke: beige;
    -fx-opacity: 0.5;
}


